
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: 'proxima-nova', arial, sans-serif;
    
}
.weatherheader {
    height: 60px;
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, blue , navy);
    color: white;
    text-align: center;
    padding: 5px;
}
