
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: 'proxima-nova', arial, sans-serif;
    
}
.weatherheader {
    height: 60px;
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, blue , navy);
    color: white;
    text-align: center;
    padding: 5px;
}
.row {
    margin-top: 5px;
}

h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}

li.list-group-item {
    margin: 5px;
}
